@keyframes ciao {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.animate_ciao {
  animation-name: ciao;
  transform-origin: center;
}

@keyframes winner {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate_winner {
  animation-name: winner;
  transform-origin: center;
}
