---
import Layout from "../layouts/Layout.astro";
import { Players } from "../components/Players";
import { Table } from "../components/Table";
---

<Layout title="Lottery">
  <main
    class="text-center mx-auto text-gray-700 p-6 ml-6 mr-6 flex-auto flex-col"
  >
    <h1 class="text-white max-6-xs text-6xl font-semi-bold uppercase my-16">
      Lottery
    </h1>
    <button
      id="play"
      type="button"
      class="text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-full text-xl px-5 py-2.5 mx-2 mb-8 dark:bg-slate-600 dark:hover:bg-slate-700 focus:outline-none w-40"
    >
      Play
    </button>
    <div>
      <Table client:only />
      <div>
        <Players client:only />
      </div>
    </div>
  </main>
</Layout>

<script>
  import { started, setStarted } from "../store";

  const button = document.getElementById("play");
  button?.addEventListener("click", () => {
    if (started()) {
      location.reload();
    } else {
      setStarted(true);
      button.innerText = "Reset";
    }
  });
</script>
