---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";
---

<Layout title="Lottery">
  <main
    class="text-center mx-auto text-gray-700 p-6 ml-6 mr-6 flex-auto flex-col"
  >
    <h1 class="text-white max-6-xs text-6xl font-semi-bold uppercase my-16">
      Lottery
    </h1>
    <App client:only />
  </main>
</Layout>
